.detailCard {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  position: relative;
  width: 80vw;
  margin: 50px auto;
}

.content h2{
  font-size: 3rem;
}

.content h3{
  font-size: 1rem;
}
  
.detailCard img {
  width: 30%;
  border-radius: 10px;
}

.buttons {
  position: absolute;
  top: 0; 
  right: 0;
  display: flex;
  gap: 1rem;
}

.buttons button {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
}

